.mnj{
    height:400px;
    border:1px solid red;
}

.row{
    margin-top: 100px;
}

table{
    margin-top: 60px;
    margin-left: 50px;
}
input{
    width:300px;
    padding-left: 15px;
}
tr{
    height:50px;

}
td{

   
}