<div>
    <div class="row">
        <div class="col-3" *ngFor="let g of k">
            <div class="imgblock">
                <img src="{{g.img}}" width="120px"><br>
            </div>
            <div class="infoblock">
                <table>
                    <tr>
                        <td>name</td>
                        <td>{{g.productname}}</td>
                    </tr>
                    <tr>
                        <td>description</td>
                        <td>{{g.description}}</td>
                    </tr>
                    <tr>
                        <td>category</td>
                        <td>{{g.category}}</td>
                    </tr>
                    <tr>
                        <td>cost</td>
                        <td>{{g.cost}}</td>
                    </tr>
                </table>
            </div>
            <div class="buttonsections">
                Quantity :<input type="number">
                <button>Add to cart</button>
            </div>
        </div>
    </div> 
</div>
    