.container-fluid{
    
    border:2px solid black;
    
}


.col-3{
    border:2px solid black;
    height:40vh;
    
}
.imgblock{
    height: 35%;
}
.infoblock{
    height:45%;
}
.buttonsections{
    height:20%;
}
input{
    width:60px;
    margin-right: 10px;
}
.cop1{
    height: 60px;
}