<div class="container-fluid">
  <div class="row adna">
    <div class="col-11">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="adminhome">home</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="changepass">Account</a>
        </li> 
       
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
    </div> 
    <div class="col-1">
  
    </div>
  </div>
  <div class="row">
    <!-- <app-adminhome></app-adminhome> -->
     <router-outlet></router-outlet> 
  </div>
  <div class="row adfo"></div>
</div> 
 

 

