
<!-- <button type="button" class="btn" routerLink="/adminlogin">adminlogin</button>
<button type="button" class="btn" routerLink="/customerlogin">customerlogin</button> -->

<div class="container-fluid">
  <div class="row adna">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="productsbuypage">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="customercart">cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="">{{h.name}}</a>
      </li>
    </ul> 
  </div>
  <div class="container-fluid jo">
     <!-- <app-customercontent></app-customercontent>    -->
     <router-outlet></router-outlet>
  </div>
  <div class="row adfo">
    <h4>footer</h4>
  </div>
</div> 

  
   
   
