 /* .row{
   
    padding-left: 60px;

}
.col-3{
    border:2px solid red;


    margin-left: 30px;
    height: 300px;
    width: 170px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ll{
    border:2px solid black;
    margin-left: 350px;
    margin-top: 40px;

    
    
}
img{
    margin-top:15px;
    margin-bottom: 15px;
} 
.re{
    height:50%;
}
.im{
    height: 50%;


}
table{
    font-size:12px;
}  */

.cop1{
    height: 60px;
}


.container-fluid{
    
    border:2px solid black;
    
}


.col-3{
    border:2px solid black;
    height:40vh;
    
}
.imgblock{
    height: 35%;
}
.infoblock{
    height:45%;
}
.buttonsections{
    height:20%;
}
input{
    width:60px;
    margin-right: 10px;
}