<!-- <button type="button" class="btn" routerLink="/adminlogin">adminlogin</button>
<button type="button" class="btn" routerLink="/customerlogin">customerlogin</button> -->

<div class="container-fluid">
    <div class="row adna">
      <div class="col-11">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="adminhome">home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="changepass">changepass</a>
          </li> -->
         
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
        </ul>
      </div> 
      <div class="col-1">
    
      </div>
    </div>
    <div class="row">
      <app-contents></app-contents>
    </div>
    <div class="row adfo"></div>
  </div> 
   
  
   
  
  