
  


  <div class="container-fluid">
    <div class="row adna">
      <!-- <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="homepage">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="loginpage">Login</a>
        </li>
      </ul>  -->
      <button (click)="sendtologin()">Login</button>
    </div>
    <div class="container-fluid jo">
         <router-outlet></router-outlet>
         <app-contents></app-contents>
    </div>
    <div class="row adfo">
      <h4>footer</h4>
    </div>
  </div> 
   
  
  