/* .modal {
    display: none; 
    position: fixed; 
    width:50px;
    height:100px;
    display:flexbox;
    
  } */

  .table td{
    border:3px solid red;
    width: 200px;
  }
  

  .modal{
    background-color: #fefefe;
    margin: auto;
    padding: 5px;
    border: 1px solid #888;
    width: 40%;
  }
  .modal1{
    background-color: #fefefe;
    width: 35%;
    margin: auto;
    padding: 5px;
    border: 1px solid #888;
    height:450px;
  }
  .modalbackground{
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 120px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
     /* Black w/ opacity */
    background-color: rgba(0,0,0,0.5);
  }
  
  .modalbackground1{
    display:none;
  }


  .do{
    margin-left: 150px;
  }